# Base configuration
base:
  world_size: 1
  iterations: 10 # 125k/256 -> 500/epoch -> 50 epochs
  seed: 0
  unwrap: false
  log_dir: /sdf/data/neutrino/junjie/SPINE/playground/attention_generic_graph_spice/loss/
  log_step: 8
  overwrite_log: true
  train:
    weight_prefix: /sdf/data/neutrino/junjie/SPINE/playground/attention_generic_graph_spice/weight/snapshot
    save_step: 500 # ~1 epoch
    accum_steps: 8
    optimizer:
      name: Adam
      lr: 0.001

# IO configuration
io:
  loader:
    batch_size: 10
    shuffle: false
    num_workers: 8
    collate_fn: all
    sampler:
      #name: random_sequence
      name: sequential
      seed: 0
    dataset:
      name: larcv
      file_keys: /sdf/data/neutrino/generic/mpvmpr_2020_01_v04/train.root
      schema:
        data:
          parser: sparse3d
          sparse_event: sparse3d_pcluster
        seg_label:
          parser: sparse3d
          sparse_event: sparse3d_pcluster_semantics
        clust_label:
          parser: cluster3d
          cluster_event: cluster3d_pcluster
          particle_event: particle_pcluster
          sparse_semantics_event: sparse3d_pcluster_semantics
          add_particle_info: true
          clean_data: true
          break_clusters: true
# Model configuration
model:
  name: graph_spice_iter
  weight_path:

  network_input:
    data: data
    seg_label: seg_label
    clust_label: clust_label
  loss_input:
    seg_label: seg_label
    clust_label: clust_label

  modules:
    graph_spice:
      shapes: [shower, track, michel, delta]
      use_raw_features: true
      invert: true
      make_clusters: false
      #do_iterate: false # default is true to run iterative clustering, set to false to run baseline graph-spice
      embedder:
        spatial_embedding_dim: 3
        feature_embedding_dim: 16
        occupancy_mode: softplus
        covariance_mode: softplus
        predict_semantics: true
        num_classes: 5
        uresnet_attn:
          num_input: 4 # 1 feature + 3 normalized coords
          filters: 32
          input_kernel: 5
          depth: 5
          reps: 2
          spatial_size: 6144
          allow_bias: false
          attn_mode: "boundary"
          lower:
            - 0
            - 0
            - 0
          upper:
            - 6144
            - 6144
            - 6144
          embed_dim: 256
          num_heads: 8
          attn_gain: 0.5
          activation:
            name: lrelu
            negative_slope: 0.33
          norm_layer:
            name: batch_norm
            eps: 0.0001
            momentum: 0.01
      kernel:
        name: bilinear
        num_features: 32
      constructor:
        edge_threshold: 0.1
        min_size: 3
        label_edges: true
        graph:
          name: knn
          k: 5
        orphan:
          mode: radius
          radius: 1.9
          iterate: true
          assign_all: true

    graph_spice_loss:
      name: edge
      loss: binary_log_dice_ce
