# Base configuration
base:
  world_size: 1
  iterations: 100
  seed: 0
  unwrap: false
  log_dir: /sdf/data/neutrino/junjie/SPINE/playground/attention/loss/
  log_step: 10
  overwrite_log: true
  train:
    weight_prefix: /sdf/data/neutrino/junjie/SPINE/playground/attention/weight/snapshot
    save_step: 1000
    optimizer:
      name: Adam
      lr: 0.001
      weight_decay: 1.0e-5
    lr_scheduler:
      name: CosineAnnealingLR
      T_max: 3
      eta_min: 1.0e-6

# IO configuration
io:
  loader:
    batch_size: 50
    shuffle: false
    num_workers: 4
    collate_fn: all
    sampler:
      name: random_sequence
      seed: 0
    dataset:
      name: larcv
      file_keys: "/sdf/home/j/junjie/SPINE/playground/first_trial/file_list/train_file_list_short.txt"
      schema:
        data:
          parser: sparse3d
          sparse_event: sparse3d_pcluster
        seg_label:
          parser: sparse3d
          sparse_event: sparse3d_pcluster_semantics

# Model configuration
model:
  name: uresnet_attn
  weight_path: null

  network_input:
    data: data
  loss_input:
    seg_label: seg_label

  modules:
    uresnet_attn:
      num_input: 1
      num_classes: 5
      attn_radius: 32
      filters: 32
      depth: 5
      reps: 2
      allow_bias: false
      lower:
        - 0
        - 0
        - 0
      upper:  # for icarus
        - 6144
        - 6144
        - 6144
      embed_dim: 256
      num_heads: 8
      attn_gain: 0.5
      activation:
        name: lrelu
        negative_slope: 0.33
      norm_layer:
        name: batch_norm
        eps: 0.0001
        momentum: 0.01

    uresnet_attn_loss:
      balance_loss: false
      focal_gamma: 2
      focal_alpha:
          - 2.0
          - 0.5
          - 2.0
          - 2.0
          - 2.0
      loss: 'ce'
